[viewBag]
==
<footer style="background: #254972;" class="container-fluid py-4">
    <div class="row">
        <div class="col-6 text-white">
            <h1 class="h5 ">Arpusda Bangka</h1>
            <p class="lead">Dinas Perpustakaan dan Kearsipan Kabupaten Bangka</p>
            <div class="mt-4">
                <div class="d-flex my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="Icon_awesome-map-signs" data-name="Icon awesome-map-signs"
                            d="M19.817,3.308,18.125,1.616a1.25,1.25,0,0,0-.884-.366H11.25V.625A.625.625,0,0,0,10.625,0H9.375A.625.625,0,0,0,8.75.625V1.25H2.188a.938.938,0,0,0-.937.938V5.313a.938.938,0,0,0,.938.938H17.241a1.251,1.251,0,0,0,.884-.366l1.692-1.692a.625.625,0,0,0,0-.884ZM8.75,19.375A.625.625,0,0,0,9.375,20h1.25a.625.625,0,0,0,.625-.625V15H8.75ZM17.813,8.75H11.25V7.5H8.75V8.75H2.759a1.251,1.251,0,0,0-.884.366L.183,10.808a.625.625,0,0,0,0,.884l1.692,1.692a1.25,1.25,0,0,0,.884.366H17.813a.938.938,0,0,0,.938-.937V9.688A.938.938,0,0,0,17.813,8.75Z"
                            transform="translate(0)" fill="#fff" />
                    </svg>
                    <p style="font-size: 16px;" class="mb-0 ml-3 small">Jalan XYZ</p>
                </div>
                <div class="d-flex my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18.988" height="15" viewBox="0 0 18.988 15">
                        <g id="Icon_feather-mail" data-name="Icon feather-mail" transform="translate(-0.506 -2.5)">
                            <path id="Path_6" data-name="Path 6"
                                d="M3.333,3.333H16.667A1.672,1.672,0,0,1,18.333,5V15a1.672,1.672,0,0,1-1.667,1.667H3.333A1.672,1.672,0,0,1,1.667,15V5A1.672,1.672,0,0,1,3.333,3.333Z"
                                fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="1.667" />
                            <path id="Path_7" data-name="Path 7" d="M18.333,5,10,10.833,1.667,5" fill="none"
                                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.667" />
                        </g>
                    </svg>

                    <p style="font-size: 16px;" class="mb-0 ml-3 small">Jalan XYZ</p>
                </div>
                <div class="d-flex my-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18.333" height="18.333" viewBox="0 0 18.333 18.333">
                        <g id="Icon_feather-clock" data-name="Icon feather-clock" transform="translate(-0.833 -0.833)">
                            <path id="Path_8" data-name="Path 8"
                                d="M18.333,10A8.333,8.333,0,1,1,10,1.667,8.333,8.333,0,0,1,18.333,10Z" fill="none"
                                stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.667" />
                            <path id="Path_9" data-name="Path 9" d="M10,5v5l3.333,1.667" fill="none" stroke="#fff"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.667" />
                        </g>
                    </svg>
                    <ul style="font-size: 16px;"><span class="ml-n4">Jam Layanan:</span>
                        <li>Senin - Jum'at, 08.00 - 16.00 WIB</li>
                        <li>Sabtu, 09.00 - 13.00</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="d-flex align-items-center border-light border p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.333" height="29.333"
                            viewBox="0 0 17.333 29.333">
                            <path id="Icon_feather-facebook" data-name="Icon feather-facebook"
                                d="M24,2.667H20a6.667,6.667,0,0,0-6.667,6.667v4h-4v5.333h4V29.333h5.333V18.667h4L24,13.333H18.667v-4A1.333,1.333,0,0,1,20,8h4Z"
                                transform="translate(-8 -1.333)" fill="none" stroke="#fff" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2.667" />
                        </svg>
                        <div class="d-flex flex-column">
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Facebook 1</a>
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Facebook 2</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center border-light border p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="26.855" viewBox="0 0 32 26.855">
                            <path id="Icon_feather-twitter" data-name="Icon feather-twitter"
                                d="M30.667,4A14.533,14.533,0,0,1,26.48,6.04a5.973,5.973,0,0,0-10.48,4v1.333A14.213,14.213,0,0,1,4,5.333s-5.333,12,6.667,17.333a15.52,15.52,0,0,1-9.333,2.667C13.333,32,28,25.333,28,10a6,6,0,0,0-.107-1.107A10.293,10.293,0,0,0,30.667,4Z"
                                transform="translate(0 -2.549)" fill="none" stroke="#fff" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2.667" />
                        </svg>

                        <div class="d-flex flex-column">
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Twitter 1</a>
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Twitter 2</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center border-light border p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32.002" height="23.28"
                            viewBox="0 0 32.002 23.28">
                            <g id="Icon_feather-youtube" data-name="Icon feather-youtube"
                                transform="translate(0.001 -4)">
                                <path id="Path_13" data-name="Path 13"
                                    d="M30.053,8.56a3.707,3.707,0,0,0-2.587-2.667C25.173,5.333,16,5.333,16,5.333s-9.173,0-11.467.613A3.707,3.707,0,0,0,1.947,8.613a38.667,38.667,0,0,0-.613,7.053,38.667,38.667,0,0,0,.613,7.107,3.707,3.707,0,0,0,2.587,2.56c2.293.613,11.467.613,11.467.613s9.173,0,11.467-.613a3.707,3.707,0,0,0,2.587-2.667,38.667,38.667,0,0,0,.613-7,38.666,38.666,0,0,0-.613-7.107Z"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2.667" />
                                <path id="Path_14" data-name="Path 14" d="M13,20.027l7.667-4.36L13,11.307Z" fill="none"
                                    stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.667" />
                            </g>
                        </svg>

                        <div class="d-flex flex-column">
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Youtube 1</a>
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Youtube 2</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center border-light border p-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="29.333" height="29.333"
                            viewBox="0 0 29.333 29.333">
                            <g id="Icon_feather-instagram" data-name="Icon feather-instagram"
                                transform="translate(-1.333 -1.333)">
                                <path id="Path_10" data-name="Path 10"
                                    d="M9.333,2.667H22.667a6.667,6.667,0,0,1,6.667,6.667V22.667a6.667,6.667,0,0,1-6.667,6.667H9.333a6.667,6.667,0,0,1-6.667-6.667V9.333A6.667,6.667,0,0,1,9.333,2.667Z"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2.667" />
                                <path id="Path_11" data-name="Path 11"
                                    d="M21.333,15.16a5.333,5.333,0,1,1-4.493-4.493,5.333,5.333,0,0,1,4.493,4.493Z"
                                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2.667" />
                                <path id="Path_12" data-name="Path 12" d="M23.333,8.667h0" fill="none" stroke="#fff"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.667" />
                            </g>
                        </svg>

                        <div class="d-flex flex-column">
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Instagram 1</a>
                            <a class="small my-0 ml-3 btn-outline-primary text-white px-2" href="#">Instagram 2</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-3 pl-4">
            <h1 class="h5 text-white">Tautan Cepat</h1>
            <ul style="list-style-type: none;padding-inline-start: 0%;columns: 2;-webkit-columns: 2;-moz-columns: 2;">
                <li class="my-2"><a class="btn btn-sm btn-primary btn-outline-light " href="#">OPAC</a></li>
                <li class="my-2"><a class="btn btn-sm btn-primary btn-outline-light " href="#">SIPUSDES</a></li>
                <li class="my-2"><a class="btn btn-sm btn-primary btn-outline-light " href="#">WESATA</a></li>
                <li class="my-2"><a class="btn btn-sm btn-primary btn-outline-light " href="#">JIKN</a></li>
                <li class="my-2"><a class="btn btn-sm btn-primary btn-outline-light " href="#">SIKN</a></li>
                <li class="my-2"><a class="btn btn-sm btn-primary btn-outline-light " href="#">SIARSIP</a></li>
            </ul>
        </div>
        <div class="col-3">
            <p class="lead">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.6632767169217!2d106.10185611526795!3d-1.8832529371010813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e22f25a3dea9a3d%3A0xa13c87efac14b6d8!2sSungai%20Liat%2C%20Parit%20Padang%2C%20Sungai%20Liat%2C%20Bangka%20Regency%2C%20Bangka%20Belitung%20Islands%2033215!5e0!3m2!1sen!2sid!4v1611113042755!5m2!1sen!2sid"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </p>
        </div>
    </div>
    <p class="small text-white text-center font-weight-bold mt-5">© Copyright 2020. Dinas Perpustakaan dan
        Kearsipan
        Kabupaten Bangka </p>

</footer>
