[viewBag]

[staticMenu]
code = "main-menu"
==

{% set menu = staticMenu.menuItems %}


<div class="bg-primary">
    <nav class="container navbar navbar-expand-lg navbar-dark">
        <a href="#" class="navbar-brand"> <img src="{{ 'assets/images/logo.png'|theme }}" width="80" height="80"
                alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in menu %}
                <li class="nav-item {{ item.isActive ? 'active' }}">
                    <a class="nav-link" href="{{item.url}}"> {{item.title}} </a>
                </li>
                {% endfor %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Cari" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Cari</button>
            </form>
        </div>
    </nav>
</div>
