.services__kearsipan,
.services__perpustakaan {
    min-height: 70vh;
    overflow: hidden;
    transition: flex-basis 2000ms ease-in-out;
}

.services__col a {
    font-weight: bold;
}

.services__kearsipan {
    * {
        color: $foursquarenavy !important;
    }

    a.nav-link.active {
        background: lighten($color: $foursquarenavy, $amount: 60) !important;
    }

    &::before {
        content: " ";
        background-image: url('https://cdn.pixabay.com/photo/2014/03/08/17/46/book-283251_960_720.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.45;
        z-index: -1;
    }

    &.opacity {
        &::before {
            opacity: 1;
        }

        * {
            color: white !important;
        }

        h2 {
            background: $foursquarenavy;
        }

        div.nav {
            background: darken($color: $foursquarenavy, $amount: 5%);

            a.nav-link.active {
                color: $foursquarenavy !important;
            }
        }

    }

}

.services__perpustakaan {
    * {
        color: $deeporange !important;
    }

    a.nav-link.active {
        background: lighten($color: $deeporange, $amount: 60) !important;
    }

    &::before {
        content: " ";
        background-image: url('https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_960_720.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.45;
        z-index: -1;
    }

    &.opacity {
        &::before {
            opacity: 1;
        }

        * {
            color: white !important;
        }

        h2 {
            background: $deeporange;
        }

        div.nav {
            background: darken($color: $deeporange, $amount: 5%);

            a.nav-link.active {
                color: $deeporange !important;
            }
        }
    }

}

.services__kearsipan,
.services__perpustakaan {
    position: relative;



    h2 {
        font-weight: bold;
    }
}

#news-wrapper .col-md-3 {
    & .card {
        transition: all .3s ease-in-out;

        &:hover {
            @include boxShadow;
        }
    }
}
