title = "Blog"
url = "/blog/:page?1"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"

[popularPosts]
category = "{{ :category }}"
postsLimit = 3
noPostsMessage = "No posts found"
postPage = "blog"
==
{% set posts = blogPosts.posts %}

<section class="container-fluid">
    <h1 class="text-uppercase font-weight-bold my-2 display-md-1 display-4"> {{ this.param.category }}</h1>
    <div class="row">
        <div class="col-md-9">
            {% for post in posts %}
            <article class="my-4 shadow-sm media">
                {% if post.featured_images.first %}
                <img class="mr-3 w-50" src="{{ post.featured_images.first.path }}"
                    alt="{{post.featured_images.first.file_name}}">
                {% endif %}
                <div class="media-body p-3">
                    <h3 class="mb-2"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    {% if post.categories.count %}
                    <p class="d-inline my-0 font-weight-light"><em>Kategori</em> :</p>
                    <ul class="d-inline" style="padding-inline-start: 0%;list-style-type:none;">
                        {% for category in post.categories %}
                        <li class="mr-2 font-italic font-weight-bold d-inline">

                            <a href="{{'kategori'|page({category:category.slug})}}">
                                {{ category.name }}
                            </a>
                            {{ loop.last ? "":" ,"}}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({ date: post.published_at |
                    date('rainlab.blog::lang.post.date_format' | trans)}) }}
                    {% endif %}
                    <p class="mt-2">{{ str_limit(post.summary|raw , 350) }}</p>
                </div>
            </article>
            {% else %}
            <article class="no-data">{{ blogPosts.noPostsMessage }}</article>
            {% endfor %}
        </div>
        <aside class="col-md-3 my-4">
            <section>
                <h1 class="h2"><u>Populer</u></h1>
                {% set poposts = popularPosts.posts %}
                {% for post in poposts %}
                <article class="my-4 d-flex">
                    {% if post.featured_images.first %}
                    <img class="mr-2 w-50" src="{{ post.featured_images.first.path }}"
                        alt="{{post.featured_images.first.file_name}}">
                    {% endif %}
                    <h3 class="mb-2 h5"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </article>
                {% endfor %}

            </section>
        </aside>
    </div>

</section>

<div class="container-fluid">
    {% if posts.lastPage > 1 %}
    <nav aria-label="Blog Page Navigation">
        <ul class="pagination pagination-lg">
            {% if posts.currentPage > 1 %}
            <li class="page-item"><a class="page-link"
                    href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr;
                    Sebelumnya</a>
            </li>
            {% endif %}

            {% for page in 1..posts.lastPage %}
            <li class="page-item {{ page == this.param.page ? 'active' : null }}">
                <a class="page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{ page
                    }}</a>
            </li>
            {% endfor %}

            {% if posts.lastPage > posts.currentPage %}
            <li class="page-item"><a class="page-link"
                    href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Selanjutnya
                    &rarr;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>