title = "Beranda"
url = "/"
layout = "default"
is_hidden = 0

[viewBag]

[recordDetail]
activeOnly = 1
recordSlug = "banner1"
areaSlug = "banner"
categorySlug = "{{ :category }}"
useMainCategory = 1
categoryPage = 0
categoryPageSlug = "{{ :category }}"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 4
noPostsMessage = "No posts found"
sortOrder = "created_at desc"
categoryPage = "home"
postPage = "home"
==
<?php
use RainLab\Blog\Models\Post;

function onStart()
{
$this->page['bodyClass'] = 'home';

}
function onLoadPost()
{
$nFetch = (int)post('nFetch');
$news = Post::with('featured_images')->orderBy('created_at', 'desc')->skip(4 * $nFetch)->take(4)->get();
$this['news'] = $news;
return[
'news'=>$news,
'nFetch'=>(int)post('nFetch')
];
}
?>
==

{% if recordDetail.images_media|length %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for mediaImage in recordDetail.images_media %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"
            class="{% if loop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for mediaImage in recordDetail.images_media %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img style="height: 90vh;" class="d-block w-100" src="{{mediaImage.image|media}}"
                alt="{{mediaImage.image_title ? mediaImage.image_title : recordDetail.recordDetail.name}}">
        </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endif %}

<section class="container-fluid my-5 px-md-0 text-center">
    <h1>Layanan</h1>
    <div class="services__wrapper d-flex my-4">
        <article class="services__kearsipan my-4 p-2">
            <h2>KEARSIPAN</h2>
            <div class="row p-4">
                <div class="col-3 services__col">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                            role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                            role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                            role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                            role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quasi, incidunt nulla nesciunt
                            nam
                            delectus rerum sed? Ratione at beatae quidem, exercitationem, ea dolorem voluptatem impedit
                            nesciunt, accusamus sit vitae.</div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">Animi voluptates ipsum quae voluptatem id harum
                            eligendi
                            sunt dolorum deleniti accusamus, tempore iusto corrupti assumenda omnis iure sint, atque
                            impedit
                            totam deserunt. Quibusdam porro consequatur maiores quas cumque eius nemo, exercitationem
                            veniam
                            beatae quis dicta cum quia consectetur, nostrum sapiente est.
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">Accusamus praesentium reprehenderit nemo sequi neque.
                            Ducimus doloremque odit maiores, quia in esse animi id possimus laboriosam ullam nihil sed.
                            Aspernatur, ipsam. Libero ut consectetur praesentium? Numquam minima labore, perspiciatis
                            porro
                            veniam obcaecati consectetur dolores. Unde odio iusto consequatur molestias cum vitae
                            dolores
                            numquam accusamus.
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab">Repudiandae vitae sapiente neque harum cupiditate
                            placeat
                            molestiae quasi eaque ducimus, fuga incidunt rem adipisci quam ex. Ab quia quas pariatur
                            provident eius recusandae rem quisquam consectetur suscipit officiis nesciunt soluta sed,
                            animi
                            nisi explicabo ipsam, eum nobis hic minus corrupti sunt optio! Eius nisi nostrum laborum
                            excepturi quaerat? Consequuntur adipisci repellendus odio esse, aliquam quod!
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="services__perpustakaan my-4 p-2">
            <h2>PERPUSTAKAAN</h2>
            <div class="row p-4">
                <div class="col-3 services__col">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-ar1-tab" data-toggle="pill" href="#v-pills-ar1"
                            role="tab" aria-controls="v-pills-ar1" aria-selected="true">Home</a>
                        <a class="nav-link" id="v-pills-ar2-tab" data-toggle="pill" href="#v-pills-ar2" role="tab"
                            aria-controls="v-pills-ar2" aria-selected="false">Profile</a>
                        <a class="nav-link" id="v-pills-ar3-tab" data-toggle="pill" href="#v-pills-ar3" role="tab"
                            aria-controls="v-pills-ar3" aria-selected="false">Messages</a>
                        <a class="nav-link" id="v-pills-ar4-tab" data-toggle="pill" href="#v-pills-ar4" role="tab"
                            aria-controls="v-pills-ar4" aria-selected="false">Settings</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-ar1" role="tabpanel"
                            aria-labelledby="v-pills-ar1-tab">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quasi, incidunt nulla nesciunt
                            nam
                            delectus rerum sed? Ratione at beatae quidem, exercitationem, ea dolorem voluptatem impedit
                            nesciunt, accusamus sit vitae.</div>
                        <div class="tab-pane fade" id="v-pills-ar2" role="tabpanel" aria-labelledby="v-pills-ar2-tab">
                            Animi
                            voluptates ipsum quae voluptatem id harum eligendi
                            sunt dolorum deleniti accusamus, tempore iusto corrupti assumenda omnis iure sint, atque
                            impedit
                            totam deserunt. Quibusdam porro consequatur maiores quas cumque eius nemo, exercitationem
                            veniam
                            beatae quis dicta cum quia consectetur, nostrum sapiente est.
                        </div>
                        <div class="tab-pane fade" id="v-pills-ar3" role="tabpanel" aria-labelledby="v-pills-ar3-tab">
                            Accusamus praesentium reprehenderit nemo sequi neque.
                            Ducimus doloremque odit maiores, quia in esse animi id possimus laboriosam ullam nihil sed.
                            Aspernatur, ipsam. Libero ut consectetur praesentium? Numquam minima labore, perspiciatis
                            porro
                            veniam obcaecati consectetur dolores. Unde odio iusto consequatur molestias cum vitae
                            dolores
                            numquam accusamus.
                        </div>
                        <div class="tab-pane fade" id="v-pills-ar4" role="tabpanel" aria-labelledby="v-pills-ar4-tab">
                            Repudiandae vitae sapiente neque harum cupiditate placeat
                            molestiae quasi eaque ducimus, fuga incidunt rem adipisci quam ex. Ab quia quas pariatur
                            provident eius recusandae rem quisquam consectetur suscipit officiis nesciunt soluta sed,
                            animi
                            nisi explicabo ipsam, eum nobis hic minus corrupti sunt optio! Eius nisi nostrum laborum
                            excepturi quaerat? Consequuntur adipisci repellendus odio esse, aliquam quod!
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<section class="container-fluid my-5 text-center">
    <h1>Berita</h1>
    <div id="news-wrapper" class="row my-4">
        {% for post in blogPosts.posts %}
        <div class="col-md-3 my-2">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="{{ post.featured_images.first.path }}"
                    alt="{{post.featured_images.description}}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <form id="loadmore" class="col-md-12 my-4">
            <button type="submit" class="mx-auto btn btn-outline-primary">Tampilkan Lebih Banyak</button>
        </form>
    </div>
</section>
